.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: #1e1e1e;
  font-family: Inter;
  color: #f0f0f0;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
}

.page-content {
  max-width: 1200px;
  margin: 50px auto 0;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
